*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: PopLight;
  src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: PopMedium;
  src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: PopRegular;
  src: url(./fonts/Poppins-Regular.ttf);
}
body {
  font-family: PopLight, sans-serif;
}
.portfolio {
  color: white;
  background: radial-gradient(#2b3760, #0b1023);
}
nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 20px;
}
.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}
.chef,
.hairstyle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
.hero {
  overflow: hidden;
  display: flex;
  align-self: center;
  justify-self: center;
}
.hero a {
  display: flex;
}
.details {
  grid-column: 2/3;
  align-self: end;
}

.hero img {
  width: 150px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}
.model-left {
  transform: translate(0, -10%);
}
.model-right {
  transform: translate(0, 10%);
}
.hero:hover .model-left,
.hero:hover .model-right {
  transform: translate(0, 0%);
}
.details h1 {
  font-family: PopRegular;
  font-size: 50px;
}
.details h2 {
  font-family: PopLight;
  font-size: 26px;
  padding: 20px 0;
}
.details p {
  font-size: 20px;
  padding: 10px 0 50px 0;
}
.pages {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.pages > div {
  display: flex;
  justify-content: center;
  align-items: space-between;
}
.pages h3 {
  font-size: 24px;
  padding: 30px;
}
.page-1,
.page-2,
.page-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);
}
.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}
.pages svg.active {
  opacity: 1;
}
.banner {
  position: relative;
  width: 100%;
  height: 50vh;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.author {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}
.author h1 {
  font-size: 42px;
}
.author h3 {
  padding: 10px 0;
  font-size: 32px;
}
.story,
.my-work {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  width: 90%;
  margin: auto;
}
.story-description,
.work-description {
  width: 50%;
}
.story-description h3,
.work-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}
.story-description p,
.work-description p {
  font-size: 20px;
  padding: 20px 0;
}
.profile img {
  width: 354px;
}
.work-gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
}
.work-gallery img {
  width: 100%;
}

@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }
  .hero {
    grid-column: 2/3;
    height: auto;
  }
  .hero img {
    /* height: 300px; */
    width: 120px;
  }
  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
  .details h1 {
    font-size: 40px;
  }
  .details h2 {
    padding: 10px 0;
    font-size: 26px;
  }
  .details p {
    font-size: 18px;
    padding-top: 5px;
  }
  .story,
  .my-work {
    flex-direction: column;
  }
  .story-description,
  .work-description {
    width: 100%;
  }
  .work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero img {
    height: 300px;
  }
  .details h1 {
    font-size: 30px;
  }
  .details h2 {
    font-size: 20px;
  }
  .details p {
    font-size: 12px;
  }
}

@keyframes dot {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(2);
  }
}

.nav-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: white;
  z-index: 1;
  color: black;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%);
}
.contact {
  grid-column: 2/3;
}
.nav-open h3 {
  font-size: 28px;
  padding-bottom: 30px;
}
.nav-open p {
  font-size: 18px;
}
.social img {
  height: 26px;
}

.logo,
.menu {
  z-index: 2;
}
.menu {
  cursor: pointer;
}
